@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

.slick-list {
  margin: 0 -12px; 
  overflow: hidden;
}


.slick-slide > div {
  margin: 0 12px;
  box-sizing: border-box;
}

.slick-slider {
  overflow: visible !important;
  position: relative;
}